.main-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  position: relative;
  height: 70vh;
  width: 100vw;
  /* background-color: aliceblue; */
}

.tile-holder {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  /* background-color: aliceblue; */

  position: absolute;
  inset: 0;
}

.pick-text {
  margin: 0;
  color: white;
  transition: 400ms ease;
  position: absolute;
}
