.tile-container {
  height: clamp(7rem, 8.5vw, 10rem);
  width: clamp(7rem, 8.5vw, 10rem);
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: inset 0rem -0.4rem hsla(240, 2%, 9%, 0.3);
  position: absolute;

  cursor: pointer;

  transition: transform 400ms ease, visibility 0ms linear;
  transform-origin: 0px 0px 0px;
  transform: translate(-50%, -50%);
}

.tile-container:hover {
  transform: translate(-60%, -60%) scale(1.2);
}

.tile-inner-container {
  background-color: white;
  border-radius: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  height: 75%;
  width: 75%;

  box-shadow: inset 0rem 0.4rem hsla(240, 2%, 9%, 0.2);
}

.tile-image {
  height: 50%;
}
